<html>
<head>
  <title>react-webpack-boilerplate</title>
</head>
  <body>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://ppp.dev.azk.io:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
